---
import AddMore from "../AddMoreButton.astro";
import SpecialChoicesButtons from "./SpecialChoicesButtons.astro";

const { slotRole, slot } = Astro.props;

function counter() {
	let x = 0;
	return function () {
		x++;
		return x;
	};
}

const slotDetails = Object.entries(slotRole);
const placeholder = slotDetails[0][0];
const count = slotDetails[0][1];
const addMoreBtn = slotRole.addMoreButton;
const hasStatusOption = slotRole.hasStatusOption;
const placeholdercounter = counter();
---

<div class="slotGroup" data-slot={slot}>
	{
		hasStatusOption
			? Array.from({ length: Number(count) }, (_, index) => (
					<div class="input-group">
						<input
							type="text"
							data-special={hasStatusOption ? "true" : "false"}
							placeholder={`${placeholder} ${placeholdercounter()}`}
						/>
						<SpecialChoicesButtons />
					</div>
				))
			: Array.from({ length: Number(count) }, (_, index) => (
					<div class="input-group">
						<input
							type="text"
							data-special={hasStatusOption ? "true" : "false"}
							placeholder={`${placeholder} ${placeholdercounter()}`}
						/>
					</div>
				))
	}

	<!-- {hasStatusOption && <SpecialChoicesButtons />} -->

	{addMoreBtn && <AddMore placeholder={placeholder} />}
</div>

<script>
	import Escalation from "../../scripts/escalation";

	document.querySelectorAll("input").forEach((inputField) => {
		Escalation.addInputEventHandler(inputField);
	});
</script>
