---
import AddMoreButton from "../AddMoreButton.astro";
import Input from "./Input.astro";

const { id, additionalDesc, slot1, slot2, slot3, slot4 } =
	Astro.props.restriction;
---

<div id={`${id}-extra`} class="additional-input">
	<h4>{additionalDesc}:</h4>
	<div class="input-fields">
		{slot1 && <Input slotRole={slot1} slot="slot1" />}
		{slot2 && <Input slotRole={slot2} slot="slot2" />}
		{slot3 && <Input slotRole={slot3} slot="slot3" />}
		{slot4 && <Input slotRole={slot4} slot="slot4" />}
	</div>
</div>

<style>
	.additional-input {
		background: rgb(132, 167, 132);
		display: flex;
		display: none;
		flex-direction: column;
		align-items: start;
		flex-grow: 1;
		gap: 0.5rem;
		cursor: default;
		border-top: none;
	}
</style>
