---
import Choices from "./extraInput/Choices.astro";

export interface Restriction {
	id: string;
	display: string;
	description: string;
	escalation: string;
	additionalDesc?: string;
	options?: [{ [key: string]: string }];
	slot1?: { [key: string]: string };
	slot2?: { [key: string]: string };
	slot3?: { [key: string]: string };
	slot4?: { [key: string]: string };
}

//
const { restriction } = Astro.props;
const id = restriction.id;
const display = restriction.display;
const description = restriction.description;
const escalation = restriction.escalation;
const additionalDesc = restriction.additionalDesc;
const options = restriction.options;
const slot1 = restriction.slot1;
const slot2 = restriction.slot2;
const slot3 = restriction.slot3;
const slot4 = restriction.slot4;

const additionalInputID = `${id}-extra`;
---

<div
	id={id}
	class="selection"
	data-extra-id={additionalInputID}
	data-escalation={escalation}
>
	<p>{display}</p>
</div>

{options && <Choices restriction={restriction} />}

<script>
	const allSelections = document.querySelectorAll(".selection");

	allSelections.forEach((selection) => {
		// Add toggle functionality
		selection.addEventListener("click", () => {
			selection.classList.toggle("checked");

			const linkedExtraID = selection.getAttribute("data-extra-id");
			const linkedExtra = document.querySelector(`#${linkedExtraID}`);

			// get details from linked Extra
		});
	});
</script>

<style>
	.selection {
		display: block;
		padding: 2rem;
		background: lightblue;
	}

	.checked {
		background: #21cf30;
	}
</style>
